*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    background-color: rgba(245, 245, 245, 0.842);
}
.sect1{
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Poppins';
    height: 45vh;
}
a{
    text-decoration: none;
    color: gold;
}
a:hover{
    color: white;
}
.sect1> nav{
    display: flex;
    justify-content: right;
    padding: 30px;
    padding-top: 5px;
    width: 85%;

}
.sect1>nav>ul>li{
    display: inline-block;
    margin: 10px;
    padding: 15px;
    padding-right: 20px;
}
.sect1>nav>ul>li>button{
    padding: 15px;
    font-size: 17px;
    background-color: #FFAC12;
    border: 0px;
    border-top-right-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.sect1>div{
    border-top: 3px solid lightgray;
}
.sect1>div>p{
    margin-left: 140px;
    margin-top: 20px;
}
.sect1>div>.p1{
    float: right;
    width: 21%;
    
}
.sect1>div>.p2{
    font-size: 40px;
    
}
.sect1>div>.p1, .p3{
    color: lightgray;
    font-size: 15px;
    font-weight: 700px;
}
/*This is styling for sect2*/
.sect2{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    font-family: 'Poppins';
}
.sect2>.container1{
    width: 100%;
    margin-left: 100px;
    
}
.sect2>.container2{
    width: 50%;
    background-color:white;
    height: 570px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px  rgba(165, 157, 157, 0.144) ;
    margin-top: 50px;
    border: 1px solid rgba(221, 217, 217, 0.589);
    
    
    
}
.container2>.subcontainer{
    display: flex;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.container2>.subcontainer>img{
    border-radius: 120px;
}
.container2>.subcontainer>p{
    margin-left: 20px;
    padding-top: 10px;
    font-size: larger;
}

div>.form>p{
    border: 2px solid rgba(221, 218, 218, 0.466);
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}
.form>button{
    padding: 15px;
    background-color: black;
    color:white;
    border: 0px;
    border-top-right-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 20px;
}
/*This is styling for section3*/
.sect3{
    width: 60%;
    margin-left: 90px;
    margin-top: 10px;
}
.sect3>div>img{
    width: 75px;
    height: 75px;
    padding: 10px;
}
/*This is styling for section4*/
.sect4{
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    height: 40vh;
}
.sect4>p{
    margin: 30px;
    padding-top: 50px;
    font-size: 25px;
}
.sect4>div{
    border-top: 3px solid lightgrey;
    padding-top: 20px;
    
}
.sect4>div>span{
    display: inline-block;
    margin-left: 60px;
    
    
}
span>img{
    width: 50px;
    height: 50px;
}
/*This is styling for section5*/
.sect5{
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    height: 100vh;
}
.sect5>p:first-child{
    font-size: 25px;
    padding-top: 40px;
    border-bottom: 2px solid lightgrey;
}
.sect5>p{
    
    padding-bottom: 10px;
    font-weight: 500;
    padding-left: 50px;
    padding-top: 20px
}
/*This is styling for section6*/
.sect6{
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    height: 70vh;
}
.sect6>p{
    font-size: 25px;
    padding-top: 40px;
    border-bottom: 2px solid lightgrey;
    margin: 50px;
    margin-bottom: 20px;
}
.sect6>div{
    display: flex;
    justify-content: space-between;
}
.sect6>div>ul{
    margin: 30px;
}
.sect6>div>ul>li{
    padding: 10px;
    list-style-image: url('/Property-page/assets/images/tick.jpg' );
    
}
/*This is styling for section7*/
.sect7{
    width: 80%;
    margin-left: 100px;
    background-color: white;
    margin-top: 50px;
    border-radius: 50px;
    height: 130vh;
}
.sect7>p{
    padding: 50px;
    font-size: 50px;
    font-family: 'Adamina';
}
.sect7>p>span{
    border-top: 3px solid #FFAC12;
    padding-top: 10px;
    font-family: 'Adamina';
}
.sect7> .maindiv> div{
    width: 350px;
    height: 450px;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}
.maindiv{
    display: flex;
    overflow-x: scroll;
}
.maindiv> div> p{
    font-size: 30px;
    margin: 25px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
}
#logo{
    border-top: 2px solid rgba(214, 211, 211, 0.842);
    margin-top: 5px;
}
#logo> img{
    margin-left: 50px;
    padding-top: 20px;
    
}
#logo> span{
    margin: 10px;
    font-size: 22px;
    
    
}
/*This is styling for section8*/
.sect8{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    font-family: 'Actor';
    margin-top: 100px;
    border-radius: 0%;
}

.sect8>div> p{
    font-size: 40px;
    font-family: 'Actor';
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    
    
}
.sect8>div>button{
    padding: 15px;
    font-size: 17px;
    background-color: #FFAC12;
    border: 0px;
    border-top-right-radius: 20px;
    margin-left: 1000px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    
    
}
.sect8> .container1{
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 3px solid lightgray;

}
.sect8>.container1> img{
    margin: 50px;
    margin-top: 150px;
    padding: 1px;
}

.sect8>.container1> .subcontainer1{
    display: flex;
    justify-content: right;
    width: 100%;
    
}
.sect8> .container1> .subcontainer1> ul{
    margin: 50px;
    list-style-type: none;
    margin-right: 100px;
}
.sect8>.subcontainer> ul> p{
    margin-bottom: 35px;
    
}
.sect8>.subcontainer> ul>li{
    margin-bottom: 35px;
    
}
.sect8>.container1>.subcontainer1> ul>p{
    margin-bottom: 35px;
    font-weight: 500px;
    font-size: 20px;
    
}